{box-sizing: border-box;}

body {
        background: #e5edf5;
        margin: 0;
    
}

.header {
    overflow: hidden;
    background-color: #fff;
    width:100%;
    height: 65px;
  }



#productButton {
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-color: #1dd1a1;
    color: #1dd1a1;
    float: left;
    align-content: center;
    border-radius: 5px;
    margin-inline-start: 25px;
    margin-right: 15px;
    margin-top:20px;
    margin-bottom:20px;


}

#expencesButton {
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-color: #576574;
    float: left;
    align-content: center;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:20px;
}

.header-right {
    float: right;
    margin-inline-end: 25px;
  }



  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .userName {
      font-size: 18px;
      color: #4d4d4d;
      float: right;
      margin-top: 23.5px;
      margin-bottom: 23.5px;
    
  }

  .label {
    font-size: 18px;
    color: #8d8d8d;
    height:50px;
    margin-left: 10%;

}

.input {
    background: #fff;
    border: 2px solid;
    border-color: #c6c6c6;
    border-radius: 5px;
    height:50px;
    width: 60%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 20px;
}


.forma {
    background: #ffff;
    border-radius: 5px;
    padding-top: 5%;
   
}

.content-right {
    width: 35%;
    border-radius:5px;
    vertical-align: middle;
    float: left;
    flex: 1;
    background: #ffff;
    
}

.submit {
    font-size: 15px;
    color:#fff;
    background: #1dd1a1;
    height: 50px;
    box-shadow: 0px 0px 16px;
    border-radius: 5px;
    width: 60%;
    margin-left: 10%;
    margin-top: 35px;
    margin-bottom: 10%;
}

.content-left {
    width:35%;
    float: left;
    background:#e0e0d1;
    flex: 1;
    
}

.content {
    width:70%;
    display: flex;
    padding-left: 6%;
}

h2 {
    margin-top:25px;
    margin-bottom: 25px;
    padding-left:6%;
}

    
p {
    font-size: 18px;
    color: #8d8d8d;
    margin-top: 375px;
    text-align: center;
}

#circle {
font-size:50px;
color:grey;
position:absolute;
top:50%;
left:57%;
align-content: center;

}