{box-sizing: border-box;}

body {
        background: #e5edf5;
        margin: 0;
    
}

.header {
    overflow: hidden;
    background-color: #fff;
    width:100%;
    height: 65px;
  }



#productButton {
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-color: #1dd1a1;
    color: #1dd1a1;
    float: left;
    align-content: center;
    border-radius: 5px;
    margin-inline-start: 25px;
    margin-right: 15px;
    margin-top:20px;
    margin-bottom:20px;


}

#expencesButton {
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-color: #576574;
    float: left;
    align-content: center;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:20px;
}

.header-right {
    float: right;
    margin-inline-end: 25px;
  }



  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .userName {
      font-family: 'Roboto' sans-serif;
      font-size: 18px;
      color: #4d4d4d;
      float: right;
      margin-top: 23.5px;
      margin-bottom: 23.5px;
    
  }

  .label {
    font-family: 'Roboto'sans-serif;
    font-size: 18px;
    color: #8d8d8d;
    height:50px;
    margin-left: 10%;

}

.input {
    background: #fff;
    border: 2px solid;
    border-color: #c6c6c6;
    border-radius: 5px;
    height:50px;
    width: 60%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 20px;
}


.forma {
    background: #ffff;
    border-radius: 5px;
    padding-top: 5%;
   
}

.content-right {
    width: 35%;
    border-radius:5px;
    vertical-align: middle;
    float: left;
    flex: 1;
    background: #ffff;
    
}

.submit {
    font-size: 15px;
    color:#fff;
    background: #1dd1a1;
    height: 50px;
    box-shadow: 0px 0px 16px;
    border-radius: 5px;
    width: 60%;
    margin-left: 10%;
    margin-top: 35px;
    margin-bottom: 10%;
}

.content-left {
    width:35%;
    float: left;
    background:#e0e0d1;
    flex: 1;
    
}

.content {
    width:70%;
    display: flex;
    padding-left: 6%;
}

h2 {
    margin-top:25px;
    margin-bottom: 25px;
    padding-left:6%;
}

    
p {
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
    color: #8d8d8d;
    margin-top: 375px;
    text-align: center;
}

#circle {
font-size:50px;
color:grey;
position:absolute;
top:50%;
left:57%;
align-content: center;

}

/* expenses */

.tabs {
    padding-left: 6%;
}

.activeButton {
    background: #1dd1a1;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.inactiveButton {
    background: #c9e5dd;
    color:#fff;
    font-size: 15px;
    font-weight: bold;
}

.selectBox {
    height: 35px;
    background: #fff;
    border: 2px solid;
    border-color: #c6c6c6;
    border-radius: 5px;
}

.month {
    margin-left: 30px;
}

table {
    padding-left: 6%;
    padding-top: 30px;
    width: 90%;
    text-align: left;
}

th {
    font-size: 16px;
    color: #404040;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: #707070;
    text-align: left;
}

.tableRow {
    background: #fff;
    font-size: 16px;
    color:#575757;
}

td {
    padding: 15px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:55px;
    width:100%;
    background:#424949  ;
 
 }
 
 .footerText {
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 75%;
    padding-top: 17px;
 }

 /* products */

 .filter {
     margin-left: 75%;
     margin-top:25px;
     
 }

 .btn {
     font-size: 16px;
     color: #575757;
     float: right;
     margin-left: 15px;
 }

.newCalculationButton{
    background: #1dd1a1;
    font-size:  15px;
    color:#fff;
    border-radius:5px;
    position:fixed;
    right:8%;
    bottom:16%;
    height:50px;
    width: 175px;
}

.newProductButton {
    background:#576574;
    font-size:  15px;
    color:#fff;
    border-radius:5px;
    position:fixed;
    right:8%;
    bottom:6%;
    height:50px;
    width: 175px
    
}

    
 